@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain(".*git(?!hub).*") {
    .fixed-width-container,
    .fixed-width-container *,
    .limit-container-width,
    .limit-container-width *,
    .container-limited {
        max-width: 100% !important;
    }
}
